*{
	box-sizing: border-box;
}


body {
	font-family: verdana;
	background-color: #1A1A1D; 
	background-image: #1A1A1D;
	padding: 10px;
	opacity: 0.5px;
	background-repeat: no-repeat;

}

li { color : white;
     font-size: 25px;
}

nav {
  list-style-type: none;
  margin: 10px;
  padding-left: 100px;
  background-color: #f7eeee;
}
nav li {
	color: #cc66cc;
	font-family: 'Advent Pro';
}

li {
  float: right;
}

li a {
  display: inline;
  color: #ffffff;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ce9797;
  text-decoration: none;
}

header {
  background-color: #fff5ea;
  padding: 10px;
  margin-top:25px;
  text-align: center;
  font-size: 35px;
  color: #968c83;
  font-family:'Comic Neue';
}

.container {
  position: relative;
  width: 100%;
  max-width: auto;
}

.container img {
  width: 1200px;
  height: 300px;
  margin-top: 50px;
  margin-left: 50px;
  opacity: 0.8;
  border-radius: 20px;
}

.container .btn {
  position: absolute;
  top: 200px;
  left: 650px;
  width: 600px;
  height: 90px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #646464;
  color: #ff9642;
  font-size: 25px;
  padding: 25px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}
.container ul{
  font-family: 'Comic Neue';
}


.container .btn:hover {
  background-color: #fff8cd;
  color: #ffe05d;
}


footer {
  background-color: #968c83;
  text-align: center;
  padding: 50px;
  margin-top: 90px;
}

div.p  {
  font-family: 'Advent Pro';
  font-size: 25px;
  line-height: 0.12px;
  color: #f9ecf9;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin: -35px;
}







